<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t '.title' %></h1>
      <%= form_with model: @comment, url: admins_comment_path(@comment), local: true do |f| %>
      <%= render 'admins/shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_field :body, class: 'form-control' %>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>