<!DOCTYPE html>
<html>

<head>
  <title>校長講話アイディアボックス</title>
  <%= favicon_link_tag('favicon.png') %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%# app/assets/stylesheets/application.scssを読み込んでいる Sprockets %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#  app/javascript/packs/application.jsを読み込んでいる Webpacker %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>

</html>