<!DOCTYPE html>
<html>

<head>
  <% if Rails.env.production? %>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6Y1LR2V9HX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-6Y1LR2V9HX');
  </script>
  <% end %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= display_meta_tags(default_meta_tags) %>
  <%# ↓app/assets/stylesheets/application.scssを読み込んでいる Sprockets %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%# ↓app/javascript/packs/application.jsを読み込んでいる Webpacker %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
</body>

</html>